<h1>Superpanel</h1>

<div class="row">
	<div class="col-xs-6">
		<div class="admin-posts">
			<table id="posts-tbl">
				<tr>
					<td colspan="4"><h3>Posts</h3></td>
				</tr>
				<tr class="posts-tbl-head">
					<th>Post Name/ID</th>
					<th class="posts-tbl-date">Date</th>
					<th></th>
					<th></th>
				</tr>
				<% @posts.each do |post| %>
					<tr>
						<td class="posts-tbl-title"><%=link_to "#{post.title} (##{post.id})", post_path(post.id) %></td>
						<td class="posts-tbl-date"><%= post.created_at.strftime("%b %d %C%y, %a., %l:%M %P")%></td>
						<td>
							<%= link_to edit_post_path(post.id) do %>
    			    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
     					<% end %>
						</td>
						<td>
							<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
    			    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     					<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<br><br><br><br><br>
			<table id="drafts-tbl">
				<tr>
					<td colspan="4"><h3>Drafts</h3></td>
				</tr>
				<tr class="posts-tbl-head">
					<th>Post Name/ID</th>
					<th class="posts-tbl-date">Date</th>
					<th></th>
					<th></th>
				</tr>
				<% @unpublished_posts.each do |post| %>
					<tr>
						<td class="posts-tbl-title"><%=link_to "#{post.title} (##{post.id})", post_path(post.id) %></td>
						<td class="posts-tbl-date"><%= post.created_at.strftime("%b %d %C%y, %a., %l:%M %P")%></td>
						<td>
							<%= link_to edit_post_path(post.id) do %>
    			    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
     					<% end %>
						</td>
						<td>
							<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
    			    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     					<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="new-post-btn">
			<%= link_to new_post_path do %>
				<button class="create-post-btn">+</button>
				<% end %>
		</div>
		<br><br><br>
		<div class="coursework">
			<h4>Manage Coursework <%= link_to "+ Add a new course", new_course_path, class: "new-course" %></h4>
			<br>
			<table id="coursework-tbl">
				<tr>
					<th>Course Name</th>
					<th>Site</th>
				</tr>
				<% @courses.each do |course| %>
					<tr>
						<td><%= course.name %></td>
						<td><%= course.site %></td>
						<td>
							<%= link_to edit_course_path(course.id) do %>
    			    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
     					<% end %>
						</td>
						<td>
							<%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %>
    			    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     					<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>