<h1>About Me</h1>
<br>
<h3>What do you want to know?</h3>
<br>
<ul class="bulletless">
	<li><%= link_to "What's your technical background?", '', class: "tech-link" %></li>
	<li><%= link_to 'What other skills do you have?', '', class: "skills-link" %></li>
	<li><%= link_to 'Tell me about your personality.', '', class: "personality-link" %></li>
	<li><%= link_to 'What did you study in school?', '', class: "edu-link" %></li>
	<li><%= link_to 'What are you passionate about?', '', class: "care-link" %></li>
</ul>

<br><br>

<div class="container">
	
</div>

<div class="about-tech">
		<h4>What's your technical background?</h4>
		<p>I first starting coding more than 15 years ago, when I taught myself HTML and CSS as an enthusiastic 11-year-old. Throughout high school and college, I spent countless hours building and designing (and then rebuilding and redesigning) websites as a hobby, occasionally dabbling in PHP and JavaScript when my ideas required it. </p>
		<p>In 2013, I decided to pursue web development as a profession. For the next two years, I spent all of my nights and weekends studying Ruby, Ruby on Rails, and a number of object-oriented programming languages to enhance my skillset. I earned a certificate in Ruby Programming from the University of Washington in 2014, and shortly thereafter I was hired as a junior developer for a small financial start-up just north of Chicago.</p>
		<p>On a daily basis, I now write new features and fix bugs across a Rails 3/CanJS/PostgreSQL stack. Because I quickly proved myself to be a reliable and fast-paced developer, my duties have increased significantly from the junior level in a short period of time, and I now regularly tackle independent feature development, project management, and UI/UX design. I still spend many nights and weekends staying up-to-date with the latest technologies and frameworks, which most recently have included Ember.js and Angular.js. Even as I sharpen those skills, I'm always looking for the new tools to experiment with and master.</p>
	</div>

	<div class="about-personality">
		<h4>Tell me about your personality.</h4>
		<p>
			<ul>
				<li>Eager and earnest</li>
				<li>Self-motivated</li>
				<li>Autodidactic</li>
				<li>Great sense of humor</li>
				<li>Hard working</li>
			</ul>
		</p>
	</div>

	<div class="about-education">
		<h4>What did you study in school?</h4>
		<p>I earned my B.A. in Women's Studies from the University of California, Riverside in 2009. I followed that up with a M.A. in Women's Studies in 2011 from San Diego State University. Though I'd initially planned to pursue a doctorate in sociology, I realized that my passion and interests no longer lied in academia, but in programming. In 2014, I began my career transition by earning a certificate in Ruby Programming from the University of Washington in August.</p>
	</div>

	<div class="about-care">
		<h4>What you care about?</h4>
		<p>As my B.A. and M.A. majors might suggest, I care deeply about social justice issues, particularly as they relate to gender, race, and sexuality. I still use and share this knowledge on a daily basis to promote awareness for women and minority issues within the tech world, whether it relates to the STEM pipeline, retention, or designing apps for more diverse audiences.</p>
		<p>Although I don't teach for a living, my previous experiences teaching undergraduate university courses have given me a deep appreciation for education, teaching, and pedagogy. I hope to use my teaching and public speaking skills to present talks at tech conferences in the near future.</p>
	</div>

	<div class="about-skills">
		<h4>What other non-technical skills do you have?</h4>
		<p>Because of my round-about journey to becoming a developer, I've been fortunate enough to pick up a number of non-technical skills that make me a better employee and colleague. From 2011 to 2014, I worked as a college textbook editor and managed the production of more than 70 books per semester, a job that required me to stay organized, communicative, have a sharp eye for errors and typos (which still comes in quite handy while debugging and proofreading code).</p>
		<p>I'm autodidactic, which means that I feel constantly driven to learn new things. </p>



	</div>