<h1>About Me</h1>
<br>
<h3>What do you want to know?</h3>
<br>
<ul class="bulletless">
	<li><%= link_to "What's your technical background?", '#', class: "tech-link" %></li>
	<li><%= link_to 'Tell me about your personality.', '#', class: "personality-link" %></li>
	<li><%= link_to 'What did you study in school?', '#', class: "edu-link" %></li>
	<li><%= link_to 'What you care about?', '#', class: "care-link" %></li>
	<li><%= link_to 'What other skills do you have?', '#', class: "skills-link" %></li>
</ul>

<br><br>

<div class="about-tech container">
	<h4>What's your technical background?</h4>
	<p>I first taught myself HTML and CSS when I was 11 years old. ...</p>
</div>

<div class="about-personality container">
	<h4>Tell me about your personality.</h4>
	<p>...</p>
</div>

<div class="about-education container">
	<h4>What did you study in school?</h4>
	<p>I earned my B.A. in Women's Studies from the University of California, Riverside in 2009. I followed that up with a M.A. in Women's Studies in 2011 from San Diego State University, with plans to pursue a doctorate in sociology.</p>
</div>

<div class="about-care container">
	<h4>What you care about?</h4>
	<p>Social justice, diversity, women in tech, education.</p>
</div>

<div class="about-skills container">
	<h4>What other non-technical skills do you have?</h4>
	<p></p>
</div>