<h1>About Me</h1>
<h3>What do you want to know?</h3>
<%= link_to "What's your technical background?", '#' %>
<%= link_to 'Tell me about your personality.', '#' %>
<%= link_to 'What did you study in school?', '#' %>
<%= link_to 'What you care about?', '#' %>
<%= link_to 'What other non-technical skills do you have?', '#' %>



<h4>What's your technical background?</h4>
<p>I first taught myself HTML and CSS when I was 11 years old. ...</p>

<h4>Tell me about your personality.</h4>
<p>...</p>

<h4>What did you study in school?</h4>
<p>I earned my B.A. in Women's Studies from the University of California, Riverside in 2009. I followed that up with a M.A. in Women's Studies in 2011 from San Diego State University, with plans to pursue a doctorate in sociology.</p>

<h4>What you care about?</h4>
<p>...</p>

<h4>What other non-technical skills do you have?</h4>
<p>...</p>