<h1>Portfolio</h1>
<br />


<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">MsMatch (WIP)</div>
			<div class="github-icon"></div>
			<h4>Written in:</h4> 
				<p class="language">Ember.js</p>
			<h4>Description:</h4> 
				<p class="description">Based on a popular card game I once created for </p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">Riverpen</div>
			<div class="github-icon"></div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">jQuery</p>
			<h4>Description:</h4> 
				<p class="description">Nostalgic for my formative years spent on Livejournal, I decided to build a clone blogging platform designed for the modern era. While it's still in the works (what side project isn't?), the intention is to use a straighforward UI to focus on text posts</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />


<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">SeeSarahCode</div>
			<div class="github-icon"></div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p></p>
			<h4>Description:</h4> 
				<p class="description">Typically, Ruby on Rails would be serious overkill for a basic, static portfolio website, but I also wanted it to be the host for my blog.</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">Bookbee</div>
			<div class="github-icon"></div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Carrierwave, will_paginate, Ratyrate, SimpleCov</p>
			<h4>Description:</h4> 
				<p class="description">The capstone project for my "Advanced Topics in Ruby on Rails" course at the University of Washington. I was given 20+ requirements to meet for a social reading app similar to Goodreads.</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<%= link_to "http://cultivate.herokuapp.com/", alt: "Cultivate on Heroku" do %>
				<%= image_tag 'cultivate_screens.png', class: 'img-portfolio', alt: "Cultivate website screenshots", size: "446x404" %>
			<% end %>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<%= link_to	"Cultivate", "http://cultivate.herokuapp.com/", class: "project-title" %>
			<div class="github-icon"></div> 
			<%= link_to "Watch app demo on YouTube", "https://www.youtube.com/watch?v=wepjNsRelKQ" %>
			<div class="port-row">
				<h4>Written in:</h4> 
					<p class="language">Ruby on Rails</p>
			</div>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Devise, Carrierwave, Paperclip</p>
			<h4>Description:</h4> 
				<p class="description">A web app that helps small, hobby-sized farms manage their animals and agriculture. This was built for my "Applications with Ruby on Rails" course at the University of Washington.</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">Log2Layout Gem</div>
			<div class="github-icon"></div>
			<%= link_to "Watch gem demo on YouTube", "https://www.youtube.com/watch?v=7KzTuq585RM" %>
			<h4>Written in:</h4> 
				<p class="language">Pure Ruby</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs"></p>
			<h4>Description:</h4> 
				<p class="description">Culminating project for my "Ruby: The Core Language" class at the University of Washington.</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>