<h1>Portfolio</h1>
<br />


<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="project-title">MsMatch (WIP)</div>
			<div class="github-icon"></div>
			<h4>Written in:</h4> 
				<p class="language">Ember.js</p>
			<h4>Description:</h4> 
				<p class="description">Based on a popular card game I once created for </p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="project-title">The Advisor Center</div>
			<div class="icon-belt">
				<%= link_to "The Advisor Center", "http://github.com/sarahwheeler/seesarahcode" %>
			</div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails, JavaScript</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Postgres, AWS (Amazon Web Services), jQuery, Can.js, Mustache, Stylus, Ember.js, Cucumber, Rspec, Capybara</p>
			<h4>Description:</h4> 
				<p class="description">I was initially brought on to The Advisor Center as a junior developer, but my fast work and adaptibility quickly deemed me capable of more demanding tasks within a short period of time.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
			<%= image_tag 'riverpen_screen.png', class: 'img-portfolio', alt: "Cultivate website screenshots", size: "475x267" %>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="project-title">Riverpen</div>
			<div class="icon-belt">
				<%= link_to "", "http://github.com/sarahwheeler/riverpen", class: "port-github" %>
			</div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">jQuery, Bootstrap</p>
			<h4>Description:</h4> 
				<p class="description">Nostalgic for my formative years spent on Livejournal, I decided to build a clone blogging platform designed for the modern era. While it's still in the works (what side project isn't?), the intention is to use a straighforward UI to focus on text journal posts and creative writing.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
<br />


<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
			<%= image_tag 'seesarahcode_screens.png', class: 'img-portfolio', alt: "SeeSarahCode website screenshots", size: "401x364" %>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="project-title">SeeSarahCode</div>
			<div class="icon-belt">
				<%= link_to "", "http://github.com/sarahwheeler/seesarahcode", class: "port-github" %>
			</div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">jQuery, Bootstrap</p>
			<h4>Description:</h4> 
				<p class="description">Typically, Ruby on Rails would be serious overkill for a basic, static portfolio website, but I also wanted it to be the host for my blog.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="cultivate-img">
				<%= link_to "http://cultivate.herokuapp.com/", alt: "Cultivate on Heroku" do %>
				<%= image_tag 'cultivate_screens.png', class: 'img-portfolio', alt: "Cultivate website screenshots", size: "401x364" %>
				<% end %>
			</div>
			<div class="cultivate-vid img-portfolio">
				<iframe width="475" height="267" src="https://www.youtube.com/embed/wepjNsRelKQ?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<br>
			<div class="img-nav">
				<div class="circle active"></div>
				<div class="circle"></div>
			</div>
			<br>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<%= link_to	"Cultivate", "http://cultivate.herokuapp.com/", class: "project-title" %>
			<%= link_to "http://cultivate.herokuapp.com/", alt: "Visit Cultivate on Heroku" do %><span class="glyphicon glyphicon-new-window heroku-btn" aria-hidden="true"></span><% end %>
			<br />
			<div class="icon-belt">
				<%= link_to "", "http://github.com/sarahwheeler/cultivate", class: "port-github" %>
    		<%= link_to "", "http://www.youtube.com/watch?v=wepjNsRelKQ", class: "youtube-btn" %>
			</div> 

			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Devise, Carrierwave, Paperclip, Bootstrap</p>
			<h4>Description:</h4> 
				<p class="description">A web app that helps small, hobby-sized farms manage their animals and agriculture. This was originally built for my "Applications with Ruby on Rails" course at the University of Washington.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<!-- Project Images to Go Here-->
			<%= link_to "http://blooming-garden-3333.herokuapp.com/", alt: "Visit Bookbee on Heroku" do %>
				<%= image_tag 'bookbee_screens.png', class: 'img-portfolio', alt: "Bookbee website screenshots", size: "446x404" %>
			<% end %>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<%= link_to	"Bookbee", "http://blooming-garden-3333.herokuapp.com/", class: "project-title" %>
			
			<%= link_to "http://blooming-garden-3333.herokuapp.com/", alt: "Visit Bookbee on Heroku" do %><span class="glyphicon glyphicon-new-window heroku-btn" aria-hidden="true"></span>
			<% end %>
			<div class="icon-belt">
    		<%= link_to "", "http://github.com/sarahwheeler/bookbee_final", class: "port-github" %>
			</div>
			<h4>Written in:</h4> 
				<p class="language">Ruby on Rails</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Carrierwave, will_paginate, Ratyrate, SimpleCov, Bootstrap</p>
			<h4>Description:</h4> 
				<p class="description">The capstone project for my "Advanced Topics in Ruby on Rails" course at the University of Washington. I was given 20+ requirements to meet for a social reading app similar to Goodreads. What it lacks in frontend finesse it makes up for in functionality&mdash;it has a robust follow system, admin access, a role-based invitation system, customizable email preferences, tags, and search tools.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
<br />

<div class="jumbotron port-project">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<div class="port-video">
				<!-- Project Images to Go Here-->
				<iframe width="475" height="267" src="http://www.youtube.com/embed/7KzTuq585RM?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<%= link_to	"Log2Layout Gem", "http://github.com/sarahwheeler/Log2Layout", class: "project-title" %>
			<br>
			<div class="icon-belt">
				<%= link_to "", "http://github.com/sarahwheeler/Log2Layout", class: "port-github" %>
    		<%= link_to "", "http://www.youtube.com/watch?v=7KzTuq585RM", class: "youtube-btn" %>
			</div>
			
			<h4>Written in:</h4> 
				<p class="language">Pure Ruby</p>
			<h4>Gems and Libraries:</h4>
				<p class="gems-libs">Mechanize, Logger, Open-URI, Win32OLE</p>
			<h4>Description:</h4> 
				<p class="description">Culminating project for my "Ruby: The Core Language" class at the University of Washington. This gem was written to perform a time-hungry task at my former job as an editor&mdash;downloading spreadsheet lists of Wikipedia images needed for book production. Log2Layout uses a web scraper to automatically download and rename these images, compacting many hours of work into just a quick one-line command line script. It's so useful, my old production team still uses it to this day!</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>