<div id="show-post">
	<p id="notice"><%= notice %></p>

	<p>
	  <h2><strong>#<%= @post.id %></strong>
	  <%= @post.title %></h2>
	</p>
	<h4><%= @post.created_at.strftime("%B %d %C%y")%> &#8226; <%= @post.created_at.strftime("A %A, at %l:%M %P")%></h4>
	<br>
	<p class="show-post-content"><%= @post.content %></p>

</div>