<div id="show-post">
	<p id="notice"><%= notice %></p>

	<p>
		<%= previous_entry(@post.id) %>
	  <h2 class="show-post-title"><strong>#<%= @post.id %></strong>
	  <%= @post.title %></h2>
	  <%= next_entry(@post.id) %>
	</p>
	<br>
	<h4 class="show-post-date"><%= @post.created_at.strftime("%B %d, %C%y")%> &#8226; <%= @post.created_at.strftime("A %A at %l:%M %P")%></h4>
	<br><br>
	<div class="show-post-content"><%= @post.content.html_safe %></div>

</div>
