<footer class="footer"> 
	<div class="site-footer">
		<div class="col-xs-3">&copy; <%= Time.now.year %> SeeSarahCode.com</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-7">
			<ul class="ftr-links">
				<li><%= link_to "Portfolio", portfolio_path %></li>
				<li><%= link_to "Resume", resume_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= mail_to "seesarahcode@gmail.com", "Contact", subject: "Nice to meet you, Sarah!" %></li>
			</ul>
		</div>
	  
	</div>
</footer>