<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Sarah <span class="contrast">Wheeler</span></a>
  </div>
  <div>
    <ul class="nav navbar-nav">
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "Resume", resume_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
  <div class="bar"><hr></div>
  <div class="social-tray">
   <%= link_to "http://github.com/sarahwheeler" do %>
    <div class='social-github'></div>
   <% end %>
   <%= link_to "http://twitter.com/seesarahcode" do %>
    <div class='social-twitter'></div>
   <% end %>
   <%= link_to "http://www.linkedin.com/in/sarahcwheeler" do %>
    <div class='social-linkedin'></div>
   <% end %>
  </div>
  <%= mail_to "seesarahcode@gmail.com", "Email me", subject: "Nice to meet you, Sarah!", class: 'contact-me' %>
</nav>
