<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">Sarah <span class="contrast">Wheeler</span></a>
   </div>
   <div>
      <ul class="nav navbar-nav">
          <li><%= link_to "Portfolio", portfolio_path %></li>
          <li><%= link_to "Resume", resume_path %></li>
          <li><%= link_to "Blog", 'http://seesarahcode.tumblr.com/' %></li>
          <li><%= link_to "About", about_path %></li>
      </ul>
   </div>
   <div class="bar"><hr></div>
   <div class="social-tray">
    <%= link_to "https://github.com/sarahwheeler" do %>
      <%= image_tag 'GitHub-Mark-64px.png', class: 'social-github', alt: "Link to Github", size: "19x19" %>
    <% end %>
    <%= link_to "https://twitter.com/seesarahcode" do %>
      <%= image_tag 'Twitter_logo_blue.png', class: 'social-twitter', alt: "Link to Twitter", size: "18x18" %>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/sarahcwheeler" do %>
      <%= image_tag 'Linkedin_logo.png', class: 'social-linkedin', alt: "Link to LinkedIn", size: "18x18" %>
    <% end %>
   </div>
</nav>
