<!DOCTYPE html>
<html>
<head>
  <title>See Sarah Code</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

<br>
<br>
<footer> 
	<div class="site-footer">
		<div class="col-xs-3">&copy; <%= Time.now.year %> SeeSarahCode.com</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-7">
			<ul class="ftr-links">
				<li><%= link_to "Portfolio", portfolio_path %></li>
				<li><%= link_to "Resume", resume_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= mail_to "seesarahcode@gmail.com", "Contact", subject: "Nice to meet you, Sarah!" %></li>
			</ul>
		</div>
	  
	</div>
</footer>
</body>
</html>
